#root {
  color: red;
}

/* Center the episodes container */
/* main container */
/* Center the episodes container */
.episodesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

/* Style each episode card */
.episodeCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s;
}

/* When hovering over an episode card, scale it up a bit */
.episodeCard:hover {
  transform: scale(1.05);
}

/* Style the episode title */
.episodeCard h3 {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}

/* Style the episode code */
.episodeCard .code {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-weight: bold;
}

/* Style the episode image */
.episodeCard img {
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

/* Style the episode summary */
.episodeCard p {
  font-size: 1rem;
  margin: 0;
  text-align: justify;
  line-height: 1.2;
}

/* Style the search input */
.search-input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 2rem;
  outline: none;
  color: #222;
}

/* Style the search counter */
.search-count {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  text-align: right;
}
